
    .ipInputClass {
        width: 100%;
        padding: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        resize: none;
    }
    .userinfo {
        padding: 8px;
        width: 100px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        resize: none;
    }
    .userCmdCls {
        width: 50%;
        padding: 8px;
        margin-left: 0px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        resize: none;
    }
    button {
        padding: 8px;
        background-color: #5cb85c;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-bottom: 5px;
        margin-right: 2px;
    }
    button:hover {
        background-color: #4cae4c;
    }
    #result {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .ip-button-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }
    .ip-button {
        flex: 0 0 12%;
        max-width: 12%;
        text-align: center;
    }
    .result-block {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }
    .result-block p {
        color: #333;
        margin: 5px 0;
    }

    .containerinput {
        display: flex;
        justify-content: space-between;
    }
    .containerip {
        width: 25%;
        margin-left: 0px;
        padding: 5px; /* 根据需要调整内边距 */
    }
    .containercmd {
        flex: 1;
        margin-left: 20px;
        padding: 5px; /* 根据需要调整内边距 */
    }
    .containeripinner {
        display: flex;
        justify-content: space-between;
    }
    .left-block {
        width: 40%;
        margin-left: 0px;
        padding: 5px; /* 根据需要调整内边距 */
    }
    .right-block {
        flex: 1;
        margin-left: 20px;
        padding: 5px; /* 根据需要调整内边距 */
    }
    .progress-container {
        width: 100%;
        background-color: #ddd;
        border-radius: 5px;
        height: 15px;
        margin: 20px 0;
    }
    .progress-bar {
        height: 100%;
        background-color: #4CAF50;
        text-align: left;
        line-height: 15px;
        color: white;
        border-radius: 5px;
        width: 0%; /* Initial width is 0% */
    }
